<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BDCrunch</title>
  <link rel="stylesheet" href="./style.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet"
    href="https://unpkg.com/vue-material/dist/vue-material.min.css" />
  <link rel="stylesheet"
    href="https://unpkg.com/vue-material/dist/theme/default.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
    rel="stylesheet">
</head>


<body>
  <div id="app">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0 sidebar min-vh-100">
          <div class="logo">
            <a href="/"
              class="d-flex align-items-center pt-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-3 d-none d-sm-inline logo">BD<span
                  class="logo-title">Crunch</span></span>
            </a>
          </div>
          <hr>
          <div class="nav-item">
            <a href="#"
              class="nav-link align-middle text-secondary active-sidebar-item">
              <i class="fs-4 bi bi-search"></i>
              <span class="ms-1 d-none d-sm-inline">QUERY</span>
            </a>
          </div>
          <div class="sized-box"></div>
          <div class="nav-item">
            <a href="#"
              class="nav-link align-middle text-secondary inactive-sidebar-item">
              <i class="fs-4 bi-clipboard-minus"></i>
              <span class="ms-1 d-none d-sm-inline">RESULT</span>
            </a>
          </div>

        </div>

        <div class="col py-3">
          <div class="registration-form">
            <form>
              <div class="fs-1 text-center pb-5 form-title">QUERY
              </div>
              <div class="form-item-title pt-3"> <span>LOT NUMBERS</span>
              </div>
              <div class="d-md-flex align-items-center justify-content-between">
                <div class="circle">1</div>
                <div>
                  <md-field>
                    <label>Base1</label>
                    <md-input v-model="type"></md-input>
                  </md-field>
                </div>
                <div>
                  <md-field>
                    <label>Comp</label>
                    <md-input v-model="type"></md-input>
                  </md-field>

                </div>
                <div>
                  <md-field>
                    <label>Base2</label>
                    <md-input v-model="type"></md-input>
                  </md-field>
                </div>
              </div>

              <div class="d-md-flex align-items-center justify-content-between">
                <div class="circle">2</div>
                <div class="">
                  <md-field>
                    <label>Base1</label>
                    <md-input v-model="type"></md-input>
                  </md-field>
                </div>
                <div class="">
                  <md-field>
                    <label>Comp</label>
                    <md-input v-model="type"></md-input>
                  </md-field>
                </div>
                <div class="">
                  <md-field>
                    <label>Base2</label>
                    <md-input v-model="type"></md-input>
                  </md-field>
                </div>
              </div>

              <div class="form-item-title pt-5"> <span>GROUP BY</span>
              </div>
              <div class="radio-buttons">
                <div>
                  <label>
                    <input type="radio" name="radio" checked />
                    <span>LOT</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input type="radio" name="radio" />
                    <span>REVISION</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input type="radio" name="radio" />
                    <span>VERSION</span>
                  </label>
                </div>
              </div>

              <div class="form-group d-flex justify-content-center">
                <button type="button"
                  class="btn btn-block create-account ">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-material"></script>
  <script src="./app.js"></script>

</body>

</html>


<!-- 34aebc teal color-->