a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  background: #f8f9fa;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  font-family: "Open Sans", sans-serif;
  background-color: #303437;
  margin: 0;
  border-bottom: 30px solid #0090da;

  /* box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15); */
}

.active-sidebar-item {
  border-left: 8px solid #0090da;
  background-color: white;
  padding-left: 0px !important;
  padding: 10px 30px !important;
}

.active-sidebar-item > span,
.active-sidebar-item > i {
  color: #303437 !important;
}

.inactive-sidebar-item {
  padding: 10px 38px !important;
}

.inactive-sidebar-item > span,
.inactive-sidebar-item > i {
  color: white !important;
}

.nav-item {
  font-size: 18px;
}

.nav-item:hover {
  background-color: rgba(00, 144, 218, 0.09);
}

.sized-box {
  height: 10px;
}

.logo {
  background-color: #24292a;
  padding: 15px 18px;
}

.logo-title {
  color: #0090da;
}

.form-title {
  color: #0090da;
  font-family: "Open Sans", sans-serif;
}

.form-item-title {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #0090da;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 18px;
  color: #555d6d;
}

.form-item-title span {
  background: #fff;
  padding: 0 10px;
}

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  background-color: #fff;
  max-width: 800px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  border-top: 5px solid #0090da;
}

.registration-form .form-icon {
  text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0090da;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .social-media {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

.circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #0090da;
  padding: 2px;
}

/* Radio Buttons */

radio-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

label input {
  position: absolute;
  left: -9999px;
}
label input:checked + span {
  background-color: #d6d6e5;
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #0090da;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: #d6d6e5;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #0090da;
}

:root {
  --md-theme-default-primary: #0090da !important;
}

.md-field.md-theme-default.md-focused label {
  color: #0090da !important;
}

.modal-body {
  margin: auto;
  font-size: 20px;
  color: rgb(58, 58, 68);
}

.loader {
  margin: 30px auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bi-exclamation-triangle-fill {
  margin: 30px auto;
  color: rgb(182, 24, 24);
  font-size: 80px;
}
